.navbar .container #logo {
  max-width: 100%;
  height: 100px; }
.navbar .nav-link {
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 1rem !important;
  padding-right: 1rem !important; }
.navbar .active {
  border-left: #444 3px solid; }

.carousel {
  height: 450px; }
  .carousel .carousel-image-1 {
    background: url(../img/image1.jpg);
    background-size: cover;
    width: 100%;
    height: 500px; }
  .carousel .carousel-image-2 {
    background: url(../img/image2.jpg);
    background-size: cover;
    width: 100%;
    height: 500px; }
  .carousel .carousel-image-3 {
    background: url(../img/image3.jpg);
    background-size: cover;
    width: 100%;
    height: 500px; }
